
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{isFormInEditMode() ? 'Edit Student' : 'Create New Student'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <form class="example-form form" [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()"  fxLayout="column">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput formControlName="prenom">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput  formControlName="nom">
          </mat-form-field></td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>

          <td><mat-form-field class="example-full-width">
            <mat-label>CIN</mat-label>
            <input matInput  formControlName="cin" #postalCode maxlength="10" placeholder="Ex. 1194105">
            <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>cv</mat-label>
            <input matInput placeholder="Ex. Teacher"  formControlName="cv">
          </mat-form-field></td>
        </tr></table>


        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. member@gmail.com"  formControlName="email">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" type="password" formControlName="password" minlength="6">
          </mat-form-field></td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Birth Date" type="date" formControlName="date">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Inscription Date" type="date" formControlName="dateInscription">
            </mat-form-field>
          </td>
        </tr></table>

        <mat-form-field class="example-full-width" style="padding-right: 20px; padding-left: 20px;">
          <mat-label>Diploma</mat-label>
          <mat-select [(ngModel)]="selectedDiploma" formControlName="diplôme">
            <mat-option value="Master">Master</mat-option>
            <mat-option value="Thesis">Thesis</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="padding-right: 20px; padding-left: 20px;">
          <mat-label>Mentor CIN</mat-label>
          <mat-select [(ngModel)]="selectedTeacher" formControlName="encadrant">
            <mat-option
              *ngFor="let encadrant of encadrants" [value]="encadrant">{{encadrant.cin}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="image">Photo:</label>
              <input formControlName="image" type="file" name="image"
                     class="form-control" (change)="onFileChange($event)" id="image">
              <div *ngIf="f.image.touched && f.image.invalid" class="alert alert-danger">
                <div *ngIf="f.image.errors.required">Image is required.</div>
              </div>
            </div>
            <div class="form-group">
              <br>
              <img [src]="imageSrc" *ngIf="imageSrc" style="height:150px; ">
            </div>

          </form>
        </div>
        <div class="form-element">
          <br>
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid || addForm.invalid">Submit</button>
          &nbsp;
          <button mat-raised-button color="warn" (click)="onCancel()" class="button">Cancel</button>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>
