.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-card-content{
  margin-left: 20px;
  margin-right: 20px;
}
.mat-card-title {
  color: #3848c1;
  font-family: 'Trocchi', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.title {
  color: #1e88e5 !important;
  font-weight: bold;
}

.description {
  color: black !important;
}

.mat-card{
  margin: 5%;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
