.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 20px;
  padding-left: 20px;
}

.mat-card-content{
  margin-left: 20px;
  margin-right: 20px;
}
.mat-card-title {
  color: #3848c1;
  font-family: 'Trocchi', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.mat-card{
  margin: 5%;
}
