.mat-card-content{
  margin-left: 20px;
  margin-right: 20px;
}
table {
  width: 100%;
  margin-bottom: 1px;
}

.mat-card-title {
  color: #3848c1; font-family: 'Trocchi', serif; font-size: 25px; font-weight: normal; line-height: 48px; margin: 0;
}

.mat-form-field {
  font-size: 14px;
  width: 25%;
  margin-left: 20px;
  margin-top: 10px;
}

td, th {
  width: 30%;
}
