
<mat-card class="example-card">
  <br>
  <mat-card-header>
    <mat-card-title>Members List: &nbsp;</mat-card-title>
    <br>
  </mat-card-header>
  <mat-card-content>

    <div
      *ngIf="userType == 'ROLE_ADMIN'"
      class="my-16" fxLayout="row" fxLayoutAlign="end center">
      <div>
        <button style=" right: 0;" mat-raised-button color="primary" routerLink="createTeacher" >
          <mat-icon class="s-24 mr-4">add</mat-icon>
          Create New Teacher
        </button>
        &nbsp;
        <button style=" right: 0;" mat-raised-button color="primary" routerLink="createStudent" >
          <mat-icon class="s-24 mr-4">add</mat-icon>
          Create New Student
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8 w-100-p">
      <div>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="EX.Titre" #input>
        </mat-form-field>
        <mat-form-field
          class="example-full-width" style="width: 10% !important;">
          <mat-select [(ngModel)]="selectedOption">
            <mat-option value="All" (click)="fetchDataSource()">All</mat-option>
            <mat-option value="Teachers" (click)="loadTeachers()">Teachers</mat-option>
            <mat-option value="Students" (click)="loadStudents()">Students</mat-option>
            <mat-option
              *ngIf="memberType == 'teacher'"
              value="MyStudents" (click)="loadMyStudents()">My Students</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 w-100-p">
        <ng-container matColumnDef="id">
          <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
          <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cin">
          <th mat-header-cell class="px-12" *matHeaderCellDef> CIN</th>
          <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell class="px-12" *matHeaderCellDef>Name</th>
          <td mat-cell class="px-12" *matCellDef="let element"> {{(element.nom)+" "+(element.prenom)}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell class="px-12" *matHeaderCellDef>Email</th>
          <td mat-cell class="px-12" *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cv">
          <th mat-header-cell class="px-12" *matHeaderCellDef> CV</th>
          <td mat-cell class="px-12" *matCellDef="let element">
            <a [href]="element.cv" target="_blank">
              <mat-icon>picture_as_pdf</mat-icon>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="dateNaissance">
          <th mat-header-cell class="px-12" *matHeaderCellDef>Birth Date</th>
          <td mat-cell class="px-12" *matCellDef="let element">
            {{element.date | date :'d MMMM y'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell class="px-12" *matHeaderCellDef>Type</th>
          <td mat-cell class="px-12" *matCellDef="let element"> {{membersTypes.get(element.id.toString())}}</td>
        </ng-container>

        <!-- Symbol Column -->

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
          <td mat-cell class="px-12 w-180" *matCellDef="let element">
            <button mat-icon-button color="primary" [routerLink]="element.id + '/details'">
              <mat-icon>feedback</mat-icon>
            </button>
            <button
              *ngIf="userType == 'ROLE_ADMIN'|| verificationMap.get(element.id.toString())"
              mat-icon-button color="primary" (click)="redirectToEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="userType == 'ROLE_ADMIN'"
              mat-icon-button color="warn" (click)="onRemoveMember(element.id, element.email)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </mat-card-content>
  <br>
</mat-card>
