.mat-card-content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.mat-card-title {
  color: #3848c1;
  font-family: 'Trocchi', serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 auto;
}

.mat-card{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

button:hover {
  background-color: #3d5afe;
}
