.card-title{
  font-weight: bold;
  color: dimgray;
}

.number-title{
  margin-left: 5%;
  font-weight: bold;
  font-size: larger;
}

.number{
  margin-left: 3%;
  font-size: large;
  color: #1e88e5;
  font-weight: bolder;
}
